/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #1d2f6f;
  color: #fff;
}

/* Smooth scrolling behavior for internal links */
html {
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent !important;
  padding: 0.5rem 1rem;
}

.main {
  color: #f88dad !important;
  font-size: 1.5rem;
  font-weight: 700;
  animation: fadeIn 1s ease-out;
}

/* Aligning elements within navbar to left and right */
.navbar-nav {
  display: flex;
  justify-content: flex-end;
}

.navbar-nav .nav-link {
  color: #f88dad !important;
  font-size: 1rem;
  font-weight: 500;
  animation: moveleft 3s ease-out;
  transition: transform 0.3s ease, color 0.3s ease;
  margin: 0 10px;
}

.navbar-nav .nav-link:hover {
  color: #fff !important;
  transform: scale(1.2);
}

/* Section Styles */
.container {
  text-align: left;
}

.loan-section {
  background-color: #121212;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  padding: 50px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loan-section.reverse {
  flex-direction: row-reverse;
}

.loan-section:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
}

.loan-section h3 {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.loan-section p {
  font-size: 1rem;
  line-height: 1.5;
}

.loan-section img {
  max-width: 500px;
  height: auto;
  margin-left: 20px;
  border-radius: 10px;
}

#lc,
#int,
#lcredit,
#inv,
#comm{
  background-image: linear-gradient(180deg, #1D2F6F, #8390FA);
}

#ins,
#sec,
#term,
#per{
  background-image: linear-gradient(180deg, #8390FA, #F9E9EC);
}

#bal,
#unsec,
#mort,
#guar{
  background-image: linear-gradient(180deg, #F9E9EC, #1D2F6F);
}

.title1 {
  font-family: 'Rockwell', serif;
  color: #FAC748 !important;
  text-align: center;
}

.title2 {
  font-family: 'Rockwell', serif;
  color: #1D2F6F !important;
  text-align: center;
}

.title3 {
  font-family: 'Rockwell', serif;
  color: #9c70e0 !important;
  text-align: center;
}

.inf1 {
  font-family: 'Courier New', monospace;
  color: #bdf7b7 !important;
}

.inf2 {
  font-family: 'Courier New', monospace;
  color: #022b3a !important;
}

.inf3 {
  font-family: 'Courier New', monospace;
  color: #e9fff9 !important;
}

/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .main {
    font-size: 1.8rem;
  }
  .navbar-nav .nav-link {
    margin: 0 15px;
  }
}
